.suggestion {
  border: 1px solid #fff;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 0;
  cursor: pointer;
}

.suggestion:hover,
.suggestion:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.suggestion:focus {
  transform: scale(1.02);
}

.suggestion:active {
  transform: scale(0.98);
  outline: none;
}

.suggestion.added {
  border: 1px solid #bf56bb;
}

.suggestion.added:hover,
.suggestion.added:focus,
.suggestion.added:active {
  border: 1px solid #bf56bb;
}
